/*
margin
padding
color
font
font-size
font-weight
font-style
line-height
border

Colours: #222, #555, #999
Typefaces: Crimson Text (regular, italic)
Font-sizes: 1.5rem, 1.125rem
Line-heights: 1.3
Left/right text padding: 1rem
Other margins & paddings intentionally not specififed.
For the best vertical rhythm: remove the top margins from things & add bottom margins equal to the line-height.
*Border-sizes: 2px

font-family: "Crimson Text", serif;
*/

html {
  box-sizing: border-box;
  line-height: 1.3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-size: 1.5rem;
  font-style: normal;
}

header p {
  font-size: 1.125rem;
  font-style: italic;
  margin-top: -1.125rem;
}

body {
  font-size: 1.125rem;
  font-style: normal;
  padding: 1em;
  margin: 0;
}

article {
  font-size: 1.125rem;
  font-style: normal;
}

article header {
  font-size: 1.125rem;
  font-style: normal;
}

article h1 {
  font-size: 1.125rem;
  font-style: normal;
}

article header p {
  font-size: 1.125rem;
  font-style: normal;
}

article p {
  font-size: 1.125rem;
  font-style: normal;
}

article ol {
  padding: 0;
  color: #222;
  font-size: 1.125em;
  font-weight: normal;
}

header ol li {
  display: block;
  margin: 0 3em;
}

blockquote {
  font-size: 1.5rem;
  font-style: normal;
  color: #999;
}

.quote {
  font-size: 1.5rem;
  font-style: normal;
  color: #999;
}
